deem-mini-cpu.labs.libertai.io {
	@api path /v1/* /health
	handle @api {
		reverse_proxy 127.0.0.1:8300
	}
	handle {
		root * /srv/deem-ui
		file_server
	}
}

process-reveal-adult-various.2n6.me {
	@api path /v1/* /health
	handle @api {
		reverse_proxy 127.0.0.1:8300
	}
	handle {
		root * /srv/deem-ui
		file_server
	}
}
